.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin: 200px auto;
  text-align: center;
}

textarea, input {
  width: 90%;
  margin: 10px 0;
  padding: 10px 0 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

button[disabled] {
  background-color: #ccc; 
  color: #888; 
  cursor: not-allowed; 
}

.message {
  color: #007bff;
  margin-top: 10px;
}

.error-message {
  color: #ff1e00da;
  margin-top: 10px;
}
